@media screen and (max-width: 500px) {
    header{
        height: 20vh;
    }
    main{
        flex-direction: column;
    }
    main section:last-child{
        width: 100vw;
        height: 30vh;
    }
    main section:first-child{
        width: 100vw;
        height: 50vh;
    }


}