@media screen and (max-width: 600px){
    header{
        height: 20vh;
    }
    main{
        flex-direction: column;
    }
    .left_side_bar{
        width: 100vw;
        height: 40vh;
    }
    .right_side_bar{
        width: 100vw;
        height: 40vh;
    }
}